<h3>{{ dog }}</h3>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
        	<td>ID</td>
            <td ng-repeat="th in ths">{{th.label}}</td>
        </tr>
    </thead>
    <tbody>
    
        <tr ng-repeat="survey in surveyData">
           <td ng-repeat="(key, value) in survey">{{value}}</td> 
        </tr>
        
    </tbody>
</table>