<div class="jumbotron text-center">
    <h1>The Homey Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>
    <ul>
    	<li class="list-unstyled" ng-repeat="survey in surveys" ><a ui-sref=".surveydetail({item: survey.appname})"><h4>{{survey.appname}}</h4></a></li>
    </ul>
    
</div>

<div ui-view></div>