<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My Surveys</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script src="js/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>

<body ng-app = "surveyApp">
	<div id="surveylist" ng-controller="surveyController">
		<h3>My surveys</h3>
		<ul>
			<li ng-repeat="survey in surveys" ui-sref=".surveydetail({item: survey.appname})" ng-controller="detailController">
				{{survey.appname}}
			</li>
		</ul>
	</div>

	<div ui-view></div>

	<script type="text/ng-template" id="detail.html">
		<div>{{test}}</div>
	</script>

	

</body>
</html>